.title {
	padding-top: 50px;
	text-align: center;
}

.navbar {
	overflow: hidden;
	background-color: #000000;
	position: fixed;
	top: 0;
	width: 100%;
	margin-bottom: 30px;
}

.navbar a {
	float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}



.clothingTitle {
	padding-top: 50px;
}


.clothingItem {
	margin: 10px;
}

.clothingImage {
	max-width: 225px;
	max-height: 225px;
	width: auto;
	height: auto;
	margin: 10px;
}

.clothingContainer {
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  	grid-gap: 10px;
  	margin: 5%;
}




/*sideways scrolling menu*/
div.scrollmenu {
    background-color: #019948;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu img {
    display: inline-block;
    text-align: center;
    padding: 14px;
}

div.scrollmenu img:hover {
    background-color: white;
}




/*
#shirts {
	padding-top: 30px;
	background-color: #019948;
}

#sweatshirts {
	padding-top: 30px;
	background-color: #019948;
}

#jackets {
	padding-top: 30px;
	background-color: #019948;
}

#accessories {
	padding-top: 30px;
	background-color: #019948;
}

#contact {
	padding-top: 30px;
}

#about {
	padding-top: 30px;
}*/