.title {
	padding-top: 50px;
	text-align: center;

}

html {
	background-image: url("https://www.seriouseats.com/images/2015/09/20150923-sour-cream-primary.jpg");
	height: 100%;
	background-position: 0px -5px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}


.sourcremetitle {
	font-size: 100px;
}

.navbar {
	overflow: hidden;
	background-color: black;
	position: fixed;
	top: 0;
	margin-left: -8px;
	width: 100%;
	margin-bottom: 100px;
}

.navbar a {
	float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}



.clothingTitle {
	padding-top: 50px;
	text-align: center;
	font-size: 75px;
}


.clothingItem {
	margin: 10px;
}

.clothingImage {
	max-width: 225px;
	max-height: 225px;
	width: auto;
	height: auto;
	margin: 10px;
}

.clothingContainer {
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  	grid-gap: 10px;
  	margin: 5%;
}




/*sideways scrolling menu*/
div.scrollmenu {
    background-color: #000000;
    overflow: auto;
    white-space: nowrap;
    width: 97%;
    margin: auto;
}

div.scrollmenu img {
    display: inline-block;
    text-align: center;
    padding: 14px;
}

div.scrollmenu img:hover {
    background-color: white;
}